<launch>
    <!-- Load operation parameters from YAML file -->
    <rosparam command="load" file="$(find puzzlebot_operation)/config/operation_params.yaml"/>

    <!-- Launch path_generator.py -->
    <node name="path_generator" pkg="puzzlebot_operation" type="path_generator.py"/>

    <!-- Launch position_estimation.py -->
    <node name="position_estimation" pkg="puzzlebot_operation" type="position_estimation.py"/>

    
</launch>
